<h2>Your Pragmatic Cart</h2>
<ul>
  <% @cart.line_items.each do |item| %>
    <li><%= item.quantity %> &times; <%= link_to item.product.title, 
                                                 product_path(item.product) %></li>
  <% end %>
</ul>